@page
@model PetSpaBE.Razor.Pages.Order.UpdateModel
@{
}

<h2>Sửa Đơn Hàng</h2>

<form method="post">
    <div class="form-group">
        <label for="Name">Tên đơn hàng</label>
        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Order.Name" required />
    </div>

@*     <div class="form-group">
        <label for="PaymentMethod">Phương thức thanh toán</label>
        <input type="text" id="PaymentMethod" name="PaymentMethod" class="form-control" value="@Model.Order.PaymentMethod" />
    </div> *@

    <div class="form-group">
        <label for="LastUpdatedTime">Ngày cập nhật</label>
        <input type="datetime-local" id="LastUpdatedTime" name="LastUpdatedTime" class="form-control" value="@Model.Order.LastUpdatedTime.ToString("yyyy-MM-ddTHH:mm")" required />
    </div>

    <div class="form-group">
        <label for="LastUpdatedBy">Cập nhật bởi</label>
        <input type="text" id="LastUpdatedBy" name="LastUpdatedBy" class="form-control" value="@Model.Order.LastUpdatedBy" required />
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger mt-3">
        <strong>Error:</strong> @Model.ErrorMessage
    </div>
}
