@page
@model PetSpaBE.Razor.Pages.Booking.IndexModel
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0d0lJ7wU8k/4D9WgN1Y6+f7kFZjx+ffbxaOGdfgVgnESg98J" crossorigin="anonymous">
</head>

<h2>Danh sách các bookings</h2>

<form method="get" class="search-form">
    <div class="input-group mb-3">
        <input type="text" name="SearchTerm" placeholder="Tìm kiếm booking theo ID..." value="@Model.SearchTerm" class="form-control" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
</form>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (Model.Booking != null)
{
    <!-- Nếu có booking tìm thấy, hiển thị booking đó -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Ngày hẹn</th>
                <th>Trạng thái</th>
                <th>Book nhân viên</th>
                <th>Người tạo</th>
                <th>Ngày cập nhật</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Booking.Id</td>
                <td>@Model.Booking.Description</td>
                <td>@Model.Booking.Date</td>
                <td>@Model.Booking.Status</td>
                <td>@Model.Booking.ApplicationUserId</td>
                <td>@Model.Booking.CreatedBy</td>
                <td>@Model.Booking.LastUpdatedTime</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <!-- Nếu không có booking tìm thấy, hiển thị danh sách bookings -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Ngày hẹn</th>
                <th>Trạng thái</th>
                <th>Book nhân viên</th>
                <th>Người tạo</th>
                <th>Ngày cập nhật</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr>
                    <td>@booking.Id</td>
                    <td>@booking.Description</td>
                    <td>@booking.Date</td>
                    <td>@booking.Status</td>
                    <td>@booking.ApplicationUserId</td>
                    <td>@booking.CreatedBy</td>
                    <td>@booking.LastUpdatedTime</td>
                </tr>
            }
        </tbody>
    </table>
}