@page
@model PetSpaBE.Razor.Pages.Booking.UpdateModel
@{
}
<h2>Sửa Booking</h2>

<form method="post">
    <div class="form-group">
        <label for="Description">Mô tả</label>
        <input type="text" id="Description" name="Description" class="form-control" value="@Model.Booking.Description" required />
    </div>

    <div class="form-group">
        <label for="Status">Trạng thái</label>
        <input type="text" id="Status" name="Status" class="form-control" value="@Model.Booking.Status" required />
    </div>

    <div class="form-group">
        <label for="Date">Ngày hẹn</label>
        <input type="datetime-local" id="Date" name="Date" class="form-control" value="@Model.Booking.Date.ToString("yyyy-MM-ddTHH:mm")" required />
    </div>
    @* <div class="form-group" style="margin-bottom: 15px;">
        <label for="employeeSelect">Chọn nhân viên</label>
        <select id="employeeSelect" class="form-control" asp-for="SelectedEmployeeId">
            <option value="">-- Chọn nhân viên --</option>
            @foreach (var employee in Model.Employees)
            {
                <option value="@employee.Id">@employee.FullName</option>
            }
        </select>
    </div> *@
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
        <div class="alert alert-danger mt-3">
            <strong>Error:</strong> @Model.ErrorMessage
        </div>
}
